html, body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.user-info
{
    width: 100%;
    background: #292c29;
    position: fixed;
    margin: 0;
    padding: 0;
    color: #efefef;
    font-size: 12px;
}

.user-info ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-info ul li.info
{
    float: left;
    padding: 10px;
}

.user-info ul li.chat-button
{
    margin: 0;
    padding: 10px;
    float: right;
    width: 130px;
    background: #595959;
    text-align: center;
    cursor: pointer;
}

.chat
{
    width: 100%;
    height: 500px;
    background-color: #595959;
    position: absolute;
    top: 35px;
    z-index: 1000;
    display: none;
}

.container
{
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.left-col
{
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
}

.right-col
{
    float: right;
    margin: 0;
    padding: 0;
    width: 500px;
}

.castle
{
    width: 400px;
    height: 300px;
    background: #ff0000;
}

.attributes
{
    margin: 0;
    padding: 0;
    width: 400px;
}

.attributes ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.attributes ul li
{
    display: block;
    padding: 10px;
    background: #efefef;
    border-top: 1px solid #cccccc;
}

.attributes ul li:last-child
{
    border-bottom: 1px solid #cccccc; 
}

.user-ui
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: #00ff00;
}

.user-ui ul
{
    margin: 0;
    padding: 15px;
    list-style: none;
}

.card
{
    width: 180px;
    height: 200px;
    background: #292929;
    border: 5px solid #eeeeee;
    float: left;
    margin: 0 10px;
    padding: 10px;
}

#home {
    margin: 100px auto;
    text-align: center;
}

#signin {
    margin: 10px auto;
    width: 400px;
    border: 8px solid #333;
    padding: 20px;
    background: #fff;
    text-align: left;
}

#signin p {
    margin: 5px 0;
}

#signin label {
    font-size: 14px;
    display: block;
    width: 150px;
    text-align: right;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

#signin #nick {
    margin-left: 10px;
    width: 200px;
}

#signin #enter {
    display: block;
    margin: 10px 0 0 160px;
}

#signin .error {
    background: #c00;
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

h1 {
    background: #111;
    margin: 0;
    color: gold;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: normal;
}

h1 a {
    position: absolute;
    right: 1em;
    color: lightblue;
}

#thread {
    position: fixed;
    top: 50px;
    left: 14px;
    right: 14px;
    bottom: 100px;
    background: white;
    border-bottom: 3px solid #666;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    border-bottom: 1px solid #efefef;
    position: relative;
}

.message h2 {
    background: #efefef;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    text-align: right;
    border-right: 1px solid #ccc;
}

.message p {
    font-size: 12px;
    padding: 5px;
    margin: 0 0 0 110px;
}

.message.you * {
    background: #FFFFCC;
}

.message.notice * {
    background: #D9E7FB;
}

.message.important * {
    background: #c00;
    color: #fff;
}

.message.notice h2 {
    visibility: hidden;
}

.message.notice p {
    margin: 0;
    padding-left: 115px;
}

#newMessage {
    position: fixed;
    left: 14px;
    right: 14px;
    bottom: 30px;
    height: 60px;
}

#newMessage #message {
    width: 70%;
    padding: 5px;
}
