<div class="container">

    <div class="left-col">
        <div class="castle castle-left"></div>
        <div class="attributes">
            <ul>
                <li>Attr1: val</li>
                <li>Attr2: val</li>
                <li>Attr3: val</li>
                <li>Attr4: val</li>
            </ul>
        </div>
    </div>

    <div class="right-col">
        <div class="castle castle-right"></div>
        <div class="attributes">
            <ul>
                <li>Attr1: val</li>
                <li>Attr2: val</li>
                <li>Attr3: val</li>
                <li>Attr4: val</li>
            </ul>
        </div>
    </div>
</div>

<div class="user-ui">

    <ul>
        <li class="card">carta</li>
        <li class="card">carta</li>
        <li class="card">carta</li>
        <li class="card">carta</li>
    </ul>

</div>